/* estilo tables */
@media only screen and (min-width: 788px) and (max-width: 979px) {
	.qualidade:after {
		right: 66px;
	}	
	.qualidade-lista li {
		padding: 0 10px;
	}
	.footer-redes ul li a {
		border: 3px solid #FA7F08;
		display: block;
		padding: 6px;
	}

	/* Produtos  */

	.produto-item h2 {
		top: -150px;
		margin-bottom: -56px;
	}
	.produto-icone {
		padding: 41px 0;
	}
	.produto-info p {
		color: #FFF;
		font-size: 14px;
		line-height: 20px;
		height: 121px;
		padding:  20px 30px;
	}
	.produto-info ul li {
		width: 181px;
		height: 49px;
	
	}


}

/* Estilo para smartphone */
@media only screen and (max-width: 787px) {
	
	.header {
		position: relative;
		padding-bottom: 0px;
	}

	.header img {
		margin: 0 auto 10px auto;
	
	}
	
	.header_menu {
		text-align: center;
	}

	.header_menu ul li {
		margin: 5px;
	}

	.header_menu ul li a {
		color: #000;
		border: 2px solid #000;
		width: 136px;
		display: block;
		float: left;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: .1em;
		font-size: 14px;
		line-height: 20px;
		padding: 10px 0;
	  }

	.header_menu ul li a:hover {
		border-color: #fff;
	}
	.header_menu ul li a.menu-ativo {
		border-color: #FFF;
	  }
	  
	.introducao {
		margin-top: 0;
		padding-top: 20px;
	}

	.introducao-interna {
		margin-top: 0px;
	}


	.introducao h1 {
		font-size: 38px;
	}
	.call {
		padding-top: 10px;
	}
	.qualidade:after{
		display: none;
	}

	.missao-sobre p {
		font-size: 14px;
		line-height: 20px;
		padding-right: 0px;
	}
	.missao-sobre ul li {
		font-size: 14px;
		line-height: 30px;
	}

	.produto-item h2 {
		top: -100px;
		margin-bottom: -68px;
	}
	.produto-icone {
		padding: 41px 0;
	}
	.produto-info p {
		font-size: 14px;
		line-height: 20px;
		height: auto;
		padding: 20px 30px;
	}
	.produto-info ul li {
		width: 149px;
		height: 49px;
		font-size: 14px;
		line-height: 20px;
		padding-top: 14px;
	}
	.form {
		padding-right: 0px;
	}
	.orcamento-dados ul {
		padding: 0px;
	}

	/* contatos */
	.contato-form {
		padding-right: 0px;
		margin-bottom: 40px;
	}

}